<header class="mb-[43px] bg-white">
    <section class="container flex justify-between items-center h-[92px]">
        <div class="flex items-center justify-between mr-10px">
            <div class=" shrink-0 pr-1">
                <img src="assets/svg/wakanda_logo.svg" alt="Wakanda Logo" class="w-full h-full object-contain">
            </div>
            <p class="text-2xl text-black font-b">Wakanda</p>
        </div>
        <ul class="hidden md:flex md:items-center md:justify-between md:max-w-[500px] lg:max-w-[568px]  md:w-full">
            <li>
                <a href="#" target="_blank" rel="noopener noreferrer"
                    class="text-black text-base hover:text-accent-500">Home</a>
            </li>
            <li>
                <a href="#" target="_blank" rel="noopener noreferrer"
                    class="text-black text-base hover:text-accent-500">About
                    Us</a>
            </li>
            <li>
                <a href="#" target="_blank" rel="noopener noreferrer"
                    class="text-black text-base hover:text-accent-500">How it
                    Works</a>
            </li>
            <li>
                <a href="#" target="_blank" rel="noopener noreferrer"
                    class="text-black text-base hover:text-accent-500">For
                    Freelancer</a>
            </li>
            <li>
                <a href="#" target="_blank" rel="noopener noreferrer" class="btn"><span>Get Started</span></a>
            </li>
        </ul>
    </section>
</header>