<section
    class="container flex items-center justify-start flex-wrap md:flex-nowrap md:items-center lg:items-start md:justify-between">
    <section class="mb-5 md:mb-0 lg:mt-24 w-full max-w-[546px] justify-self-start ">
        <h1 class="leading-tight mb-4 md:mb-[27px] font-b text-black text-2xl md:text-4xl lg:text-6xl">Recruit top
            talented
            freelancer for your
            business
        </h1>
        <p class="text-base mb-[32px] text-black max-w-[70%]">Connect you to thoudsands of talented
            freelancer from
            any industry. You can have
            the best people in just few
            simple
            steps.</p>
        <button class="btn">Get Started</button>
    </section>
    <section class=" mx-auto md:mx-0 w-full max-w-[500px] md:max-w-[628px] h-full">
        <img src="assets/hero_img.png" alt="Hero Section Image" class=" w-full h-full object-cover">
    </section>
</section>
<section class="container mygrid w-full my-10 py-11 md:py-14">
    <img src="assets/svg/logos/Airbnb_Logo.svg" alt="Airbnb Logo">
    <img src="assets/svg/logos/Google_Logo.svg" alt="Google Logo">
    <img src="assets/svg/logos/Slack_Logo.svg" alt="Airbnb Logo">
    <img src="assets/svg/logos/Netflix_Logo.svg" alt="Netflix Logo">
    <img src="assets/svg/logos/Amazon_Logo.svg" alt="Amazon Logo">
</section>